@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td { 
    color: #2E2E2E;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-image: url(../img/common/background.png);
    background-repeat: repeat;
}

li {
    list-style-type: none;
}

.overflow{
    overflow: hidden;
}

.cl_c{
	background-color: #61B77A;
}
.cl_f{
	background-color: #855836;
}
.cl_g{
	background-color: #FF9A2C;
}
.cl_h{
	background-color: #B7B6AD;
}
.cl_m{
	background-color: #EA1E0F;
}
.cl_n{
	background-color: #63AF9E;
}
.cl_t{
	background-color: #37A6EA;
}
.cl_y{
	background-color: #D5BB81;
}
.cl_z{
	background-color: #807AE9;
}

.ltblc_c{
	background: url(../img/top/blc_c.png) no-repeat left top;
}
.ltblc_f{
	background: url(../img/top/blc_f.png) no-repeat left top;
}
.ltblc_g{
	background: url(../img/top/blc_g.png) no-repeat left top;
}
.ltblc_h{
	background: url(../img/top/blc_h.png) no-repeat left top;
}
.ltblc_m{
	background: url(../img/top/blc_m.png) no-repeat left top;
}
.ltblc_n{
	background: url(../img/top/blc_n.png) no-repeat left top;
}
.ltblc_t{
	background: url(../img/top/blc_t.png) no-repeat left top;
}
.ltblc_y{
	background: url(../img/top/blc_y.png) no-repeat left top;
}
.ltblc_z{
	background: url(../img/top/blc_z.png) no-repeat left top;
}

.ltwh_c{
	background: url(../img/top/wht_c.png) no-repeat left top;
}
.ltwh_f{
	background: url(../img/top/wht_f.png) no-repeat left top;
}
.ltwh_g{
	background: url(../img/top/wht_g.png) no-repeat left top;
}
.ltwh_h{
	background: url(../img/top/wht_h.png) no-repeat left top;
}
.ltwh_m{
	background: url(../img/top/wht_m.png) no-repeat left top;
}
.ltwh_n{
	background: url(../img/top/wht_n.png) no-repeat left top;
}
.ltwh_t{
	background: url(../img/top/wht_t.png) no-repeat left top;
}
.ltwh_y{
	background: url(../img/top/wht_y.png) no-repeat left top;
}
.ltwh_z{
	background: url(../img/top/wht_z.png) no-repeat left top;
}

