/***
* エラー領域
***/
.message_box{
//    height: 350px;
    min-height: 100%;
    margin: 145px 30px 30px 30px;
    border-radius: 45px;
    border: 1px solid #fff;
    background : #ffffff;
    position: relative;
    padding: 50px 0;
}

.message_area {
    margin: 50px;
    position: relative;
    top: 37%;
}

.message_area p {
    font-size: 2em;
    text-align: center;
}

#copyright {
    bottom: 2px;
    font-size: 30px;
    position: fixed;
    right: 5px;
    z-index: 90;
}
