/***
* エラー領域
***/
a{
    text-decoration: none;
    color: #2e2e2e;
}

.main{
    font-size: 300%;
    min-height: 100%;
    margin: 72px 30px 30px 30px;
}

.white_back{
    border-radius: 20px;
    border: 1px solid #fff;
    background : #ffffff;
    position: relative;
}

.list{
    padding : 10px 35px;
}

.help_box {
    margin: 30px 0;
}

.help_box_img{
    border-bottom: 2px dashed;
    padding: 50px ;
}

.help_box_img img{
    width : 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.help_box_text{
    margin: 30px 20px 20px;
}

.white_back:last-child {
    margin: 30px 0 50px;

}

.help_box_text ol li:last-child {
    font-size: 80%;
    text-align: right;
}

#copyright {
    bottom: 2px;
    font-size: 30px;
    position: fixed;
    right: 5px;
    z-index: 90;
}