/**
* プルメニュー分の幅
***/
.pull_menu{
    margin: 0 0 20px 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 80;
}

.pull_menu_button {
    background: url("../img/common/pullpaper_br.png");
    background-size: cover;
    position: fixed;
    height: 143px;
    width: 143px;
    top:0%;
    right: 10%;
    z-index: 80;
}

.pull_menu_button i{
    position: relative;
    top: 41%;
    left: 22%;
}

.pull_menu_button span {
    color: #fff;
    font-size:75px;
    filter:dropshadow(color=#000000,offX= 0,offY=-1)
    dropshadow(color=#000000,offX= 1,offY= 0)
    dropshadow(color=#000000,offX= 0,offY= 1)
    dropshadow(color=#000000,offX=-1,offY= 0);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
                 black 1px -1px 0px, black -1px -1px 0px;
}

/**
* 上からにゅっと降りてくるメニュー
***/
.pull_menu_nav{
    display:none; /* 最初は非表示 */
    width:100%;
    position: fixed;
    z-index:999;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 #333;
    background: #f7f4f2;
    background-size: 120px 120px;
    padding:5px;
    behavior: url(./pie/PIE.htc);
}

/**
* そのほか
***/
.menu_t {
    background: url("../img/common/title_paper.png");
    background-size: cover;
    position: absolute;
    width: 545px;
    height: 74px;
    margin-left: 20%;
}

.menu_t span {
    font-size: 2em;
    color: #443D2D;
    display: block;
    text-shadow: 0 1px 1px #333;
    text-decoration: none;
    padding: 9px;
    text-align: center;
    margin-right: 25px;
}

.t_sit{
    left: 20px;
}

/**
* Menuのリスト
**/
.pull_menu_nav_list {
    text-align: center;
    position: relative;
    margin: 0 0 20px
}

.pull_menu_nav_list li {
    border-bottom: dashed 2px;
    margin: 0 2%;
}

.pull_menu_nav_list span{
    vertical-align: middle;
}

.pull_menu_nav_list a {
    display: block;
    color: #2E2E2E;
    text-shadow: 0 1px 1px #333;
    text-decoration: none;
    tap-highlight-color: rgba(186,151,123, 0.3)!important;
    -webkit-tap-highlight-color: rgba(186,151,123, 0.3)!important;
}

.pull_menu_nav_list ul img {
    width: 53px;
    padding: 3px;
    vertical-align: middle;
}

.situation_list span{
    font-size: 2.5em;
}

.another_list li a {
    font-size: 2.5em;
}


.pull_menu_nav_list ul {
    padding: 95px 0 0;
}

/**
* 閉じるボタン
**/
.pull_menu_nav_close {
    text-align: center;
    font-size:45px;
    font-weight :bold;
    margin: 30px 0;
}