/**
* プルメニュー分の幅
***/
.pull_menu{
    margin: 0 0 20px 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 60;
}

.pull_menu_title{
	margin-top: -8px;
}
/*
.pull_menu_button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 11px 23px;
    background: #f7f4f2;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-box-shadow:
        0px 5px 6px rgba(000,000,000,0.7),
        inset 1px 2px 2px rgba(255,255,255,0);
    -webkit-box-shadow:
        0px 5px 6px rgba(000,000,000,0.7),
        inset 1px 2px 2px rgba(255,255,255,0);
    box-shadow:
        0px 5px 6px rgba(000,000,000,0.7),
        inset 1px 2px 2px rgba(255,255,255,0);
    margin: auto;
    position: relative;
    height: 25px;
	width: 60%;
    z-index: 60;
    behavior: url(./pie/PIE.htc);}

.pull_menu_button i{
    color: #15a9d8;
	font-size: 240%;
}
*/
.pull_menu_button {
    background: url("../img/common/pullpaper_br.png");
    background-size: cover;
    position: fixed;
	height: 49px;
	width: 49px;
    top:0%;
    right: 6%;
    z-index: 80;
}


.pull_menu_button span {
    color: #fff;
    font-size:30px;
    filter:dropshadow(color=#000000,offX= 0,offY=-1)
    dropshadow(color=#000000,offX= 1,offY= 0)
    dropshadow(color=#000000,offX= 0,offY= 1)
    dropshadow(color=#000000,offX=-1,offY= 0);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
                 black 1px -1px 0px, black -1px -1px 0px;
}

/**
* 上からにゅっと降りてくるメニュー
***/
.pull_menu_nav{
    display:none; /* 最初は非表示 */
    width:100%;
#	height: 100%;
    position: fixed;
    z-index:999;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 #333;
    background: #f7f4f2;
    background-size: 120px 120px;
    padding:5px;
    behavior: url(./pie/PIE.htc);
}

/**
* そのほか
***/
.menu_t {
    background: url("../img/common/title_paper.png");
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 35px;
    margin: 5px 0 0 35px;
}

.menu_t span {
#    font-size: 2em;
    color: #443D2D;
    display: block;
    text-shadow: 0 1px 1px #333;
    text-decoration: none;
    padding: 7px;
#    text-align: right;
#    margin-right: 25px;
}

.t_sit{
#    left: -70px;
}

/**
* Menuのリスト
**/
.pull_menu_nav_list {
    text-align: center;
    position: relative;
    margin: 0 0 14px
}

.pull_menu_nav_list li {
    border-bottom: dashed 1px;
    margin: 0 2%;
	font-size: 72%;
	padding: 3px 0;
}

.pull_menu_nav_list span{
    vertical-align: middle;
}

.pull_menu_nav_list a {
    display: block;
    color: #2E2E2E;
    text-shadow: 0 1px 1px #333;
    text-decoration: none;
    tap-highlight-color: rgba(186,151,123, 0.3)!important;
    -webkit-tap-highlight-color: rgba(186,151,123, 0.3)!important;
}

.pull_menu_nav_list ul img {
    width: 24px;
    vertical-align: middle;
}

/*
.situation_list span{
    font-size: 2.5em;
	font-size: 85%;
}

.another_list li a {
    font-size: 2.5em;
}
*/

.pull_menu_nav_list ul {
    padding: 45px 0 0;
}

/**
* 閉じるボタン
**/
.pull_menu_nav_close {
    text-align: center;
    font-size:20px;
    font-weight :bold;
}