@charset "utf-8";

audio {
    margin: 10px;
}

.popup_title_box{
    margin: 10px 0 ;
}

.audio_title{
    padding: 0 0 0 20px;
    font-size: 120%;
    font-weight: bold;
}

#popup img{
    float: left;
    max-width: 8%;
}