@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
#	height:100%;
	overflow-x: hidden;
}
body { /* 省略可 */
#	background-color: #FFFBD1;
#	background-color: #F9FFE2;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	background-size: 65px 65px;
}

#contents_frame{
	border: solid 20px;
#	position :absolute;
	height: 100%;
	position: fixed;
	box-sizing: content-box;
}

#border {
position: fixed;
z-index: 1;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
#padding: 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#border:before {
content: " ";
display: block;
height: 100%;
min-height: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 10px solid #45BCFF;
}

html{
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

a:link{
	color : #333;
}
a:visited{
	color : #333;
}
a:hover{
	color : #333;
}
a:active {
	color : #333;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

input, textarea,{
	margin: 0;
	padding: 0;
}

ol, ul{
	list-style:none;
}

table{
	border-collapse: collapse; 
	border-spacing:0;
}

caption, th{
	text-align: left;
}

a:focus {
	outline:none;
}

.clearfix:after {
	content: "."; 
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.both{
	clear:both;
}

.inline_block {  
	display: inline-block;  
	*display: inline;  
	*zoom: 1;  
}

/* よく使うCSS start

img {
	max-width:100%;
}

table {
	width:100%;
}


a,a:hover {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}


a img:hover {
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}

---CSS---

.special_content {
	width:100%;
}

.content p{
	color:#333;
}


/*---------------------------------
add css standard start
--------------------------------*/

img {
	max-width: 100%;
}

table {
	width: 100%;
}

.clearfix:after {
	content: "."; 
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.both {
	clear: both;
}

.inline_block {  
	display: inline-block;  
	*display: inline;  
	*zoom: 1;  
}

/*---------------------------------
add css standard end
add css layout start
--------------------------------*/

.contents div{
	margin-bottom: 30px;
}

.img_left {
	float: left;
	width: 30%;
}

.text_right {
	float: right;
	width: 65%;
}

.img_right {
	float: right;
	width: 30%;
}

.text_left {
	float: left;
	width: 65%;
}

.content2_1 {
	width: 48%;
	float: left;
}

.content2_2 {
	width: 48%;
	float: right;
}

.content3_1 , .content3_2 , .content3_3 {
	width: 30%;
	float: left;
}

.content3_2 {
	margin-right: 5%;
	margin-left: 5%;
}

.content4_1 , .content4_2 , .content4_3 , .content4_4 {
	width: 22%;
	float: left;
}

.content4_2 {
	margin-left: 4%;
	margin-right: 4%;
}

.content4_3 {
	margin-right: 4%;
}

.note {
	background: #fcfcfc;
	padding: 8px 18px;
	margin: 15px 0;
}

.note p {
	margin: 0;
	padding: 4px 0;
}

.header_left {
	width: 47%;
	float: left;
}

.header_right {
	width: 47%;
	float: right;
}

@media screen and (max-width: 480px){
	.contents div{
		width: 100%;
		margin: 0 0 20px;
		float: none;
	}
}

#main{
	position: relative;
	top: 50%;
	border-radius: 15px;
	border: 1px solid #fff;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 23px 10px 20px 10px;
	overflow: hidden;
}

#situation_info{
	text-align: left;
	margin: 10px;
}

#situation_info h1{
	font-size: 1.1em;
	text-shadow: 0 1px 1px #333;
}

#situation_info p{
	font-size: 80%;
}

#result_num{
	background: url("../img/common/title_paper.png");
	background-size: cover;
	position: absolute;
	left: -138px;
	width: 300px;
	height: 43px;
}

#result_num span{
	position: absolute;
	padding: 10px 0 0 18px;
	font-size: 120%;
	text-align: left;
	font-weight: bold;
	color: #f00;
	text-shadow: 0 1px 1px #bbb;
}

#dropdown_area{
	width: 106px;
	height: 30px;
	position: absolute;
	right: 10px;
}

.dropdown{
	width: 106px;
	border: 2px solid #000;
	padding: 6px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-appearance: button;
	-webkit-appearance: button;
	margin: 5px 0;
	appearance: button;
	z-index: 1;
}

.drop_arrow{
	background: url("../img/common/arrow_down.png");
	background-size: cover;
	position: absolute;
	right: 6px;
	top: 11px;
	width: 20px;
	height: 20px;
	text-indent: -2000px;
	z-index: 2;
}

#station_cassette {
	min-width: 320px;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 47px;
}

#station_cassette li:nth-child(odd){
	float: left;
}

#station_cassette li:nth-child(even){
	float: right;
	margin-right: 20px;
}

.station{
	border: solid #000 3px;
	border-radius: 25px;
	background: #fff;
	margin: 5px;
	clear: both;
	width: 260px;
	max-width: 300px;
	visibility: hidden;
}

.station h2{
	font-size: 103%;
	text-shadow: 0 1px 1px #333;
}

.station_name{
	float: left;
	text-align: left;
	margin: 5px 0 0 5px;
}

.station_name p{
	font-size: 85%;
}

.station_info{
	position: relative;
	margin: 0 auto;
}

.info_sign{
	border: 2px solid #91c7d8;
	border-radius: 10px;
	width: 220px;
	margin: 5px;
	display: inline-block;
	padding: 7px;
}

.info_sign span{
	float: left;
	font-size: 80%;
}

.info_sign ul{
#	width: 250px;
	height: 35px;
}

.info_sign li{
	float: left;
	margin: 3px;
}

.info_sign p{
	float: left;
	width: 23px;
	height: 23px;
	background-size: cover;
	margin: 0 3px;
}
.info_icons{
	clear: both;
	width: 174px;
	height: 23px;
	background: #EEE;
	background-image: linear-gradient( -45deg, #FCF091 25%, #FFF9CD 25%, #FFF9CD 50%, #FCF091 50%, #FCF091 75%, #FFF9CD 75%, #FFF9CD );
	background-size: 5px 5px;
	margin: 0 auto;
	padding: 4px 0;
}

.distance{
	clear: both;
	color: #FFF;
	font-size: 70%;
	background-color: #FF6B00;
	margin: 0 14px 2px 14px;
	width: 120px;
}

.call_out{
	opacity: 0.4;
}

.line_c {
	float: left;
	position: relative;
	border: none;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	margin: 3px 0 5px 13px;
	behavior: url(./pie/PIE.htc);
}

.line_inner_c {
  	border: none;
  	border-radius: 50%;
  	background-color: #FFF;
  	-pie-background-color: #FFF;
  	position: relative;
	height: 37px;
	width: 37px;
	top: 9px;
	left: 9px;
	behavior: url(./pie/PIE.htc);
}

.ord_name{
	background-size: cover;
	height: 27px;
	width: 27px;
	position: absolute;
	top: 5px;
	left: 5px;
}


.pri_name{
	background-size: cover;
	height: 45px;
	width: 45px;
	position: absolute;
	top: 11px;
	left: 11px;
}

.sit_danger{
	background: url(../img/train_map/theme_danger.png) no-repeat left top;
}
.sit_baby{
	background: url(../img/train_map/theme_babyChangingTable.png) no-repeat left top;
}
.sit_child{
	background: url(../img/train_map/theme_babyChair.png) no-repeat left top;
}
.sit_wheel{
	background: url(../img/train_map/theme_wheelchair.png) no-repeat left top;
}
.sit_ostomate{
	background: url(../img/train_map/theme_daredemo.png) no-repeat left top;
}
.sit_in{
	background: url(../img/train_map/theme_in.png) no-repeat left top;
}
.sit_out{
	background: url(../img/train_map/theme_out.png) no-repeat left top;
}

.flesh{
	background-color: #ff0;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 300px;
}

#situation_error{
	margin: 50px 0;
}

.situation_error_txt{
	font-weight: bold;
	color: #f00;
	text-shadow: 0 1px 1px #BBB;
}

#copyright{
	position: fixed;
	font-size: 60%;
	z-index: 2;
	bottom: 2px;
	right: 5px;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}