/***
* コンテンツ
***/
.contents{
    margin: 72px 30px 50px;
//    margin: 153px 30px 0;    /* 上下に160pxを余白を取る */
    border-radius: 45px;
    border: 1px solid #fff;
    background : #ffffff;
    background: rgba(255, 255, 255, 0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#90FFFFFF,EndColorStr=#90FFFFFF)";　/* IE8以上 */

}

.main li {
    position: relative;
    margin: 0 0 50px 10px;
    z-index: 50;
}

.station_name_box {
    -webkit-transform: translate3d(0,0,0);
    position: relative;
    float: left;
}

.station_name_box img {
      height:190px;
      margin: 0 0 0 20px;
}

.station_name_box p {
    font-size: 50px;
    position: absolute;
    bottom: 20%;
    left: 40%;
}

h2{
    font-size: 55px;
}

h2 p{
    font-size: 63.5%;
}

.station_info_box {
    margin: 20px 0 0 0;
}

.station_info_box span img {
    margin: 33px 16px 0 0;
    width: 69px;
    float: left;
}

.station_info_callout p {
    margin: 1%;
    float: left;
}

.station_info_callout img {
    height:70px;
}

.acordion_tree {

}

.acordion_tree span {
    float: left;
    font-size: 36px;
}

.acordion_tree_station_info div{
    clear: both;
}

.station_info_callout_not{
    height:75px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -ms-filter: "alpha(opacity=40)";
}

/****
 吹きだし
****/
.station_info_callout {
    background: #fff;
    margin: 10px 0 0 0;
    float: left;
    border: 5px solid #91c7d8;
    text-align: center;
    width: 85%;
    border-radius: 18px;
    padding: 0 5px 0;
    position: relative;
    behavior: url(./pie/PIE.htc);
}

/***
* 路線図部分
***/
[class*=route_boader] {
    @include inline-block;
    background-size: 50px 50px;
    background-color: #434343;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(228, 228, 228 ,1)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(228, 228, 228 ,1) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(228, 228, 228 ,1) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(228, 228, 228 ,1) 50%, transparent 50%, transparent);
    position: fixed;
    top: 0;
    width: 30px;
    -moz-animation: anime1 3s 1 ease;
    -webkit-animation: anime1 3s 1 ease;
    -o-animation: anime1 3s 1 ease;
    -ms-animation: anime1 3s 1 ease;
    behavior: url(./pie/PIE.htc);


}
.route_boader {
    z-index: 1; //動かさないで、効かなくなるから
    background: #434343;
    left:142px;
}

@-webkit-keyframes anime1 {
    0% {height: 0px;}
}
@keyframes anime1 {
    0% {height: 0px;}
}
/***
* お気に入り
***/
.bookmark_box {
    background: url("../img/menu/paper_horizon_br.png");
    background-size: cover;
    position: fixed;
    width: 96px;
    height: 85px;
    top: 150px;
    right: 0%;
    text-align: right;
    z-index: 70;
}
.bookmark_box i {
    color: #DFB921;
    padding: 4px 0 0;
}

.info_icons{
    background: #eee;
    background-image: linear-gradient( -45deg, #FCF091 25%, #FFF9CD 25%, #FFF9CD 50%, #FCF091 50%, #FCF091 75%, #FFF9CD 75%, #FFF9CD );
    background-size: 9px 9px;
    margin: 20px 10px;
}

#copyright {
    bottom: 2px;
    font-size: 30px;
    position: fixed;
    right: 5px;
    z-index: 90;
}