@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 101%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
	overflow-x: hidden;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
body { /* 省略可 */
	display: none;
	background: #fff;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}

#logo_area{
	width: 100%;
	height: 46px;
	background-image: url(../img/common/background.png);
	background-size: 64px 64px;
}

h1{
	background: url(../img/top/logo.png) no-repeat left top;
	width: 196px;
	height: 42px;
	background-size: cover;
	text-shadow: 0 1px 1px #333;
	text-indent: -2000px;
}

#contents_frame{
	border: solid 20px;
	height: 100%;
	position: fixed;
box-sizing: content-box;
}

#border {
	position: fixed;
	z-index: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#border:before {
	content: " ";
	display: block;
	height: 100%;
	min-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 10px solid #45BCFF;
}

html{
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

a:link{
	color : #333;
}
a:visited{
	color : #333;
}
a:hover{
	color : #333;
}
a:active {
	color : #333;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

input, textarea,{
	margin: 0;
	padding: 0;
}

ol, ul{
	list-style:none;
}

table{
	border-collapse: collapse;
	border-spacing:0;
}

caption, th{
	text-align: left;
}

a:focus {
	outline:none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.both{
	clear:both;
}

.inline_block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

table {
	width:100%;
}


a,a:hover {
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

/*
a img:hover {
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}
*/
---CSS---

.special_content {
	width:100%;
}

.content p{
	color:#333;
}


/*---------------------------------
add css standard start
--------------------------------*/

img {
	max-width: 100%;
}

table {
	width: 100%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.both {
	clear: both;
}

.inline_block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/*---------------------------------
add css standard end
add css layout start
--------------------------------*/

.contents div{
	margin-bottom: 30px;
}

.img_left {
	float: left;
	width: 30%;
}

.text_right {
	float: right;
	width: 65%;
}

.img_right {
	float: right;
	width: 30%;
}

.text_left {
	float: left;
	width: 65%;
}

.content2_1 {
	width: 48%;
	float: left;
}

.content2_2 {
	width: 48%;
	float: right;
}

.content3_1 , .content3_2 , .content3_3 {
	width: 30%;
	float: left;
}

.content3_2 {
	margin-right: 5%;
	margin-left: 5%;
}

.content4_1 , .content4_2 , .content4_3 , .content4_4 {
	width: 22%;
	float: left;
}

.content4_2 {
	margin-left: 4%;
	margin-right: 4%;
}

.content4_3 {
	margin-right: 4%;
}

.note {
	background: #fcfcfc;
	padding: 8px 18px;
	margin: 15px 0;
}

.note p {
	margin: 0;
	padding: 4px 0;
}

.header_left {
	width: 47%;
	float: left;
}

.header_right {
	width: 47%;
	float: right;
}

@media screen and (max-width: 480px){
	.contents div{
		width: 100%;
		margin: 0 0 20px;
		float: none;
	}
}

#main{
	max-width: 320px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
}

/*画面縦位置用_500px未満の画面の場合pantsを固定表示*/
	#pants{
		position: fixed;
		width: 100%;
		height: auto;
		left: 0;
		bottom: -10px;
		z-index: 1;
	}

/*画面横位置用_500px以上の画面の場合pants非表示*/
@media screen and (min-width: 500px){
	#pants{
		display: none;
	}
}

#eyes{
	position:relative;
	zoom: 1;
	width: 300px;
	height: 115px;
	padding: 10px 0 11px 47px;
}

.eye_line{
	width: 88px;
	margin-right: 47px;
}

.eyebox{
	float: left;
}

.eyes_c {
	position: absolute;
	border: none;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	behavior: url(./pie/PIE.htc);
}

.eyes_inner_c {
	position: relative;
	border: none;
	border-radius: 50%;
	background-color: #2D2D2D;
	-pie-background-color: #2D2D2D;
	height: 68px;
	width: 68px;
	top: 11px;
	left: 11px;
	behavior: url(./pie/PIE.htc);
}

.pri_name{
	background-size: cover;
	height: 45px;
	width: 45px;
	position: absolute;
	top: 11px;
	left: 11px;
}

.ord_name{
	background-size: cover;
	height: 27px;
	width: 27px;
	position: absolute;
	top: 3px;
	left: 3px;
}

#select_line{
	position: relative;
	zoom: 1;
	min-width: 1500px;
	left: -184%;
	top: 45px;
	margin-bottom: 48px;
}

.select_line_icons{
	width: 320px;
	padding-top: 8px;
	margin: 0 auto;
}

.select_line_icons .lines{
	display:inline-block;
	clear: both;
	zoom: 1;

}

#line_status{
	overflow: hidden;
}

.line_information{
	position: relative;
	padding-right: 59px;
	width: 80px;
	height: 30px;
	font-size: 75%;
	color: #333;
	display: table-cell;
	vertical-align: middle;
}

.line_name{
	width: 80px;
	font-size: 75%;
	color: #333;
	padding-top: 90px;
}

.select_line_icons ul{
	text-align: center;
}

.select_line_icons li{
	float: left;
	display: -moz-inline-box;
	display: inline-block;
	padding: 2px;
}

.line_c {
	position: relative;
	border: none;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	behavior: url(./pie/PIE.htc);
}

.line_inner_c {
	border: none;
	border-radius: 50%;
	background-color: #FFF;
	-pie-background-color: #FFF;
	height: 34px;
	width: 34px;
	position: relative;
	top: 13px;
	left: 13px;
	behavior: url(./pie/PIE.htc);
}

#face{
	position: relative;
	width: 100%; /* 大枠と同じ幅に */
}
#cheekbox{
	float: left;
}

.cheek_l {
	left: 14px;
	top: 107px;
	position: absolute;
	background-color: #FFE1E1;
	-pie-background-color: #FFE1E1;
	border: none;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	behavior: url(./pie/PIE.htc);
}


.cheek_r {
	right: 14px;
	top: 107px;
	position: absolute;
	background-color: #FFE1E1;
	-pie-background-color: #FFE1E1;
	border: none;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	behavior: url(./pie/PIE.htc);
}

.cheek_inner {
	border: none;
	border-radius: 50%;
	background-color: #FFF;
	-pie-background-color: #FFF;
	height: 20px;
	width: 20px;
	position: relative;
	top: 10px;
	left: 10px;
	behavior: url(./pie/PIE.htc);
}

#mouth{
	background: url("../img/top/mouth.png");
	background-size: cover;
	width: 283px;
	height: 64px;
	margin: 5px auto;
}

.t_icon{
	border: solid 1px #000;
	width: 300px;
	height: 60px;
	margin: 2px 10px;
}

.t_now{
	background: url("../img/train_map/theme_babyChair.png");
	background-size: cover;
	height: 60px;
	width: 97px;
	position: relative;
	top: -23px;
	left: -19px;
}

.t_now span{
}

#situation_nav {
	position: relative;
	top: 45px;
	margin: 0 0 360px 12px;
	padding-top: 5px;
}

#situation_nav li {
	float: left;
	width: 70px;
	height: 70px;
	text-align: center;
	display: block;
	padding: 8px;
	margin: 5px;
	color: #666;
	text-decoration: none;
	border-radius: 50%;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 2px #e7e7e7;
}

#situation_nav .available {
	border: 1px solid #999;
	background: #eee;
	background-image: url(../img/common/background30.png);
	background-size: 44px 44px;
}

#situation_nav .unavailable {
	background: #F2E2C4;
}

#situation_nav p{
	vertical-align: middle;
	font-size: 60%;
	font-weight: bold;
	margin-top: -3px;
}

#situation_nav a {
	display: block;
	color: #2E2E2E;
	text-decoration: none;
	tap-highlight-color: rgba(186,151,123, 0.3)!important;
	-webkit-tap-highlight-color: rgba(186,151,123, 0.3)!important;
}

#situation_nav .available img {
	width: 40px;
	padding: 3px;
	vertical-align: middle;
}

#situation_nav .unavailable img {
	width: 50px;
	padding: 8px;
	vertical-align: middle;
}

#explain{
	font-size: 60%;
	text-align: left;
	margin-top: -11px;
	width: 125px;
	border-bottom: solid 2px;
	padding-bottom: 3px;
}

#explain .arrow{
	position: relative;
	background: url(../img/common/arrow_down.png) no-repeat left top;
	background-size: cover;
	width: 18px;
	height: 18px;
	left: 4px;
	top: 15px;
}

#explain span{
	padding-left: 20px;
}

#explain_text{
	font-size: 60%;
	text-align: left;
	border: dotted #62A8FC 2px;
	margin: 3px;
	padding: 5px;
	background-image: linear-gradient( -45deg, #fff 25%, #FFF9CD 25%, #FFF9CD 50%, #fff 50%, #fff 75%, #FFF9CD 75%, #FFF9CD );
	background-size: 8px 8px;
}

#copyright{
	position: fixed;
	font-size: 60%;
	z-index: 2;
	bottom: 2px;
	right: 5px;
}

.sns {
	height: 120px;
	margin: 15px;
}
.sns:after {
	clear: both;
}

.sns li {
	float: left;
	margin: 3px;
	text-align: center;
	width: 92px;
}

.sns li.fb-like {
	margin: 1px;
}

iframe.twitter-share-button {
	width: 65px !important;
}

iframe.hatena-bookmark-button-frame {
	width: 80px !important;
}

#popup{
    font-size: 74%;
    text-align: left;
}
