<div id="popup">
    <div class="popup_title_box">
        <img src="img/common/arrow_down.png">
        <p class="audio_title">流水音再生機能<p>
    </div>
    <audio id="audio" controls loop>
    <!--<audio src="music/sample.mp3" preload="auto" loop></audio>-->
    <source src="music/seseragi.mp3">
    </audio>
</div>
